%h1 Services

%ul
  %li
    = link_to 'Help Desk', help_desks_path, class: "alert button"
  %li
    = link_to 'Media Player', media_players_path, class: "alert button"
  %li
    = link_to 'Service', services_path, class: "alert button"
  %li
    = link_to 'Hourly Service', hourly_services_path, class: "alert button"